@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

* {
    margin: 0;
    padding 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    font-size: 18px;
}

:root {
    --mainBackground: hsl(222, 26%, 31%);
    --toggleBackground: hsl(223, 31%, 20%);
    --screenBackground: hsl(224, 36%, 15%);
    --del_reset_KeyBackground: hsl(225, 21%, 49%);
    --del_reset_Shadow: hsl(224, 28%, 35%);
    --del_reset_FontColor:white;
    --resetHover: #A2B3E1;
    --equalsKeyBackground: hsl(6, 63%, 50%);
    --equalsKeyShadow: hsl(6, 70%, 34%);
    --equalsHover: #F96C5B;
    --equalsFontColor:white;
    --mainButtonBackground: rgb(240, 233, 233);
    --mainButtonKeyShadow: hsl(28, 16%, 65%);
    --mainButtonFontColor: hsl(221, 14%, 31%);
    --textColor:white;
    --mainButtonHover:white;

}

body {
    background-color: var(--mainBackground);
    color: var(--textColor);
    transition: .5s ease-out;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 34%;
    margin-bottom: 1em;
    user-select: none;
}

h1 {
    font-size: xx-large;
}

p {
    font-size: small;
}

.theme {
    display: flex;
}

.theme p {
    align-self: flex-end;
    margin-right: 1em;
}

.themeToggle {
    display: flex;
    background-color: var(--toggleBackground);
    border-radius: 1em;
    padding: .5em;
    text-align: center;
    align-self: flex-end;
}


.visor {
    background-color: var(--screenBackground);
    width: 35%;
    height: 8%;
    border-radius: 7px;
    display: flex;
    justify-content: end;
    align-items: center;
    user-select: none;
}

.res {
    font-size: 35px;
    margin-right: 0.7em;
}

.keyboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
    background-color: var(--toggleBackground);
    margin: 1em;
    padding: 1em;
    width: 35%;
    border-radius: 5px;
}

button {
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3em 0em;
    border: none;
    border-radius: 7px;
    border-bottom: solid var(--mainButtonKeyShadow);
    height: 2em;
    color: var(--mainButtonFontColor);
    cursor: pointer;
    background-color: var(--mainButtonBackground);
}

button:hover {
    background-color: var(--mainButtonHover);
}

#reset,
#del {
    background-color: var(--del_reset_KeyBackground);
    color: var(--del_reset_FontColor);
    border-bottom: solid var(--del_reset_Shadow);
}

#reset:hover,
#del:hover {
    background-color: var(--resetHover);
}

#reset,
#equals {
    grid-column: span 2;
}

#equals:hover {
    background-color: var(--equalsHover);
}

#equals {
    background-color: var(--equalsKeyBackground);
    border-bottom: solid var(--equalsKeyShadow);
    color: var(--equalsFontColor);
}

.themeSwitchContainer {
    display: grid;
    grid-template-columns: 1em 1em 1em;
    grid-template-rows: 1em 1em;
}

.themeSwitchContainer p {
    margin-bottom: 0.3em;
    margin-left: 0.4em;
    cursor: pointer;
    user-select: none;
}

.redButton {
    border-radius: 100%;
    width: 0.7em;
    height: 0.7em;
    background-color: var(--equalsKeyBackground);
    translate: -0.8em 0em;
    transition: translate 0.5s ease-in-out;
}

.themeToggle {
    width: 3em;
    height: 1.2em;
    display: flex;
    align-items: center;
    padding: 0.5em 1em;

}

.redButton.position2 {
    transition: translate 0.5s ease-in-out;
    translate: 0.18em 0em;
}

.redButton.position3 {
    transition: translate 0.5s ease-in-out;
    translate: 1.1em 0em;
}

.redButton:hover {
    transition: 0s;
    background-color: var(--equalsHover);
}